<div class="main">
    <div class="div-flex" id="main-1">
        <div class="intro">
            <h1 class="title">Soluciones digitales a la medida para impulsar tu negocio.</h1>
            <br>
            <h2 class="sub-title">Transformemos tus ideas en experiencias digitales impactantes.</h2>
        </div>
        <div class="background">
            <img src="assets/images/dragon.png">
        </div>
    </div>
    <div class="text-intro" id="text-intro-middle">
        <p>En <span class="highlight">Mitico Dev</span>, combinamos creatividad y tecnología para crear soluciones
            digitales que impulsen el crecimiento de tu negocio. Nuestro equipo de expertos te acompañará en cada etapa
            del proceso, desde la conceptualización hasta la implementación, garantizando resultados excepcionales.</p>
    </div>
    <div class="div-flex" id="div-service">
        <h2 class="title title-service">Nuestros Servicios</h2>
        <div id="services">
            <div class="text-service">
                <img src="assets/images/page-service.jpeg">
                <div class="description">
                    Creación de aplicaiones o paginas web
                </div>
            </div>
            <div class="text-service">
                <img src="assets/images/movil-service.jpeg">
                <div class="description">
                    Desarrollo de aplicaciones moviles
                </div>
            </div>
            <div class="text-service">
                <img src="assets/images/UX-UI-service.png">
                <div class="description">
                    Diseño de interfaces digitales centradas en el usuario con UX/UI
                </div>
            </div>
            <div class="text-service">
                <img src="assets/images/desktop-service.jpeg">
                <div class="description">
                    Aplicaciones de escritorio para gestion y control de procesos
                </div>
            </div>
        </div>
    </div>
    <div id="WebApp" class="div-flex description-service">
        <div class="div-text-service">
            <h2 class="sub-title">Desarrollo web</h2>
            <p class="text-intro"> Diseñamos y desarrollamos sitios web y aplicaciones web a medida, optimizadas para
                brindar una
                experiencia de usuario excepcional y resultados tangibles para tu negocio.</p>
            <div>
                <button class="button-call-action">¡Creemos soluciones extraordinarias!</button>
            </div>
        </div>
        <div class="div-img-service">
            <div class="allign-img" id="img-dev-web">
                <img src="assets/projects/ventadedivisas.png" class="img-service" alt="Developer">
                <img src="assets/projects/lealtad-coomeva.jpg" class="img-service" alt="Developer" id="img-2">
            </div>
        </div>

    </div>
    <div id="MobileApp" class="div-flex description-service">
        <div class="div-img-service">
            <div class="allign-img">
                <video alt="Mobile App" src="assets/projects/lidarit.mp4" class="video-lidarit" controls
                    onloadedmetadata="this.muted=true" autoplay>
                </video>
                <img src="assets/projects/echalesalsita-2.jpg" class="video-lidarit" alt="echalesalsita-app">
            </div>
        </div>
        <div class="div-text-service text-end">
            <h2 class="sub-title">Aplicaciones moviles</h2>
            <p class="text-intro">Construimos aplicaciones móviles nativas y multiplataforma para llegar a tu audiencia
                en cualquier
                dispositivo, brindando una experiencia de usuario única y funcionalidades innovadoras.</p>
            <div class="div-right">
                <button class="button-call-action">¡Lleva tu idea a la palma de sus manos!</button>
            </div>
        </div>
    </div>
    <div id="UXUI" class="div-flex description-service">
        <div class="div-text-service">
            <h2 class="sub-title">Diseño de interfaces</h2>
            <p class="text-intro"> Creamos interfaces atractivas y fáciles de usar que brindan una experiencia de
                usuario excepcional,
                optimizando la interacción entre tus clientes y tu marca.</p>
            <div>
                <button class="button-call-action">¡Diseñemos una experiencia inolvidable!</button>
            </div>
        </div>
        <div class="div-img-service">
            <div class="allign-img">
                <img src="assets/projects/Cursos-main.png" class="img-service" alt="UX/UI">
            </div>
        </div>
    </div>
    <div id="DesktopApp" class="div-flex description-service">
        <div class="div-img-service">
            <div class="allign-img">
                <img src="assets/projects/Pasapalabras.png" class="img-service" alt="Desktop App">
            </div>
        </div>
        <div class="div-text-service text-end">
            <h2 class="sub-title">Aplicaciones de escritorio</h2>
            <p class="text-intro"> Desarrollamos aplicaciones de escritorio personalizadas para optimizar tus procesos
                empresariales o para crear aplicaciones de juego sencillo, brindando soluciones eficientes y escalables para ti o tu negocio.</p>
            <div class="div-right">
                <button class="button-call-action">¡Demos vida a tus ideas, en tu escritorio!</button>
            </div>
        </div>
    </div>

    <app-contact-me></app-contact-me>
    <app-footer></app-footer>
</div>