@if (view) {
<div class="div-reco">
    <div class="div-title">
        <span class="title">Referecias</span>
    </div>
    <div class="main-slider">
        <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="slideConfig">
            @for (ref of slides; track ref.name) {
            <section ngxSlickItem class="slide">
                <div class="div-img">
                    <img src="{{ref.rutaImagen}}">
                    <div class="div-profesional">
                        <label class="data-profesional name">{{ref.name}}</label>
                        <label class="data-profesional prof">{{ref.position}} | {{ref.company}}</label>
                    </div>
                </div>
                <p>{{ref.textReference}}</p>
            </section>
            }
        </ngx-slick-carousel>
    </div>
</div>
}