@if (view) {
<div class="div-reco">
    <div class="div-title">
        <span class="title"> Recomendaciones </span>
    </div>
    <div class="main">
        <section>
            <div class="div-img">
                <img src="assets/personas/anggelo.jpeg">
                <div class="div-profesional">
                    <label class="data-profesional name">Anggelo Moncada </label>
                    <label class="data-profesional prof">Lider Tecnico | Qvision</label>
                </div>
            </div>
            <p>Es una persona que técnicamente ha interiorizado los conceptos de diferentes soluciones tanto de
                arquitecturas como lenguajes y esto le da habilidad de analizar problemas o necesidades para ofrecer una
                solución que se adapta a las condiciones que se le presentan. En cuanto a habilidades blandas es una
                persona
                que se ha dedicado a mejorar mucho sus debilidades como la comunicación y liderazgo</p>
        </section>

        <section>
            <div class="div-img">
                <img src="assets/personas/Andres.jpeg">
                <div class="div-profesional">
                    <label class="data-profesional name">Andres Zuares</label>
                    <label class="data-profesional prof">Jefe Tecnico | Lidarit</label>
                </div>
            </div>
            <p>Ha demostrado ser un desarrollador excepcional, destacando no solo por su habilidad técnica y dominio de
                múltiples tecnologías, sino también por su compromiso con la calidad y la innovación. Su capacidad para
                resolver problemas complejos y entregar soluciones eficientes ha sido invaluable para nuestro equipo.
            </p>
        </section>

        <section>
            <div class="div-img">
                <img src="assets/personas/Janis.jpeg">
                <div class="div-profesional">
                    <label class="data-profesional name">Janis Tovar Trujillo</label>
                    <label class="data-profesional prof">Matrica Digital</label>
                </div>
            </div>
            <p>Leonardo se destaca por ser un gran profesional con amplios conocimientos técnicos y funcionales sobre
                los
                proyectos que trabaja, por su alta capacidad de análisis, orientación al logro buscando siempre la
                mejora
                continua y entregar mayor valor, su capacidad de adaptación, aprendizaje continuo, trabajo en equipo.
            </p>
        </section>

        <section>
            <div class="div-img">
                <img src="assets/personas/Elmer.jpeg">
                <div class="div-profesional">
                    <label class="data-profesional name">Elmer Diaz</label>
                    <label class="data-profesional prof">Kafka Administrator | SIIGO</label>
                </div>
            </div>
            <p>Leonardo se destaca por su creatividad y su capacidad para ofrecer soluciones innovadoras y eficientes,
                es un
                desarrollador talentoso, altamente competente, dedicado, con un enfoque meticuloso y una pasión por su
                trabajo que se refleja en cada proyecto que emprende.</p>
        </section>
    </div>
</div>
}