.div-reco
    margin-top: 10vh
    margin-bottom: 10vh

.main-slider
    margin: auto
    width: 1265px

.slider
    padding: 0px 10px

section
    position: relative
    background-color: var(--dark-primary-color)
    box-shadow: var(--box-shadow)
    border-radius: 58px
    padding: 3rem 3rem 1rem 3rem
    margin: 10px
    min-width: 304px
    width: 304px

.div-title
    margin-bottom: 30px

img
    width: 60px
    border-radius: 100%

.div-img
    display: flex
    align-items: center

.div-profesional
    display: flex
    flex-direction: column
    padding-left: 20px

.name
    font-size: 22px
    font-weight: 600
    color: var(--light-primary-color)

.prof
    font-size: 17px
    font-weight: 700
    color: var(--primary-color)

.title
    margin-left: 3%

p
    font-family: arial
    font-size: 15px
    text-align: left

@media (max-width: 1274px)
    .main-slider
        width: 846px

@media (max-width: 862px)
    .main-slider
        width: 425px

@media (max-width: 430px)
    section
        min-width: 200px
        width: 200px
        padding: 2rem 22px

    .main-slider
        width: 269px
    
    .title
        font-size: xxx-large