@if (view) {
<div class="div-flex">
    <div class="div-idea">
        <div>
            <div class="div-idea-text">
                <span class="title"> ¿Tienes una idea? </span>
            </div>
            <div class="div-idea-text">
                <span class="sub-title"> ¿Necesitas ayuda para llevarla a cabo? </span>
            </div>
            <div class="div-idea-text">
                <span class="sub-title"> ¡Trabajemos juntos para hacerla realidad! </span>
            </div>
        </div>
        <div class="div-text-area">
            <textarea class="base-text" placeholder="Escribe aquí quien eres y cual es tu idea"></textarea>
            <input class="base-text" type="text" placeholder="Correo" text="Correo">
            <button class="button-call-action">Enviar</button>
        </div>
    </div>

</div>

}