@if (view) {
<div class="div-flex div-main">
    <div class="div-info" id="div-rock">
        <span>Echo con mucho rock</span>
        <br>
        <br>
        <span [innerHTML]="icon"></span>
    </div>
    <div class="div-info link-social" id="div-link">
        <div>
            <img src="assets/icons/linkedin.svg" alt="Linkedin" class="icon-tec pointer" (click)="link('https://www.linkedin.com/in/leonardo-jimenez-7831025a/')">
            <img src="assets/icons/git.svg" alt="GIT" class="icon-tec pointer" (click)="link('https://github.com/llonardo798')">
        </div>
        <!-- <span>Leonardo Aedo Jimenez</span> -->
        <span>Mítico Dev</span>
    </div>
    <div class="div-info" id="div-home">
        <span>Home</span>
    </div>
</div>
}