<app-contact-me></app-contact-me>
@if (view) {
<div class="social-media div-flex">
    <div class="red">
        <img src="assets/icons/linkedin.svg" alt="Linkedin" class="icon-tec pointer" (click)="link('https://www.linkedin.com/in/leonardo-jimenez-7831025a/')">
        <label>Linkedin</label>
    </div>
    <div class="red">
        <img src="assets/icons/git.svg" alt="GIT" class="icon-tec pointer" (click)="link('https://github.com/llonardo798')">
        <label>Git</label>
    </div>

</div>
}